@font-face {
	font-family: womenbushuozaijian; 
	src: local('womenbushuozaijian'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/womenbushuozaijian.woff2') format('woff2'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/womenbushuozaijian.woff') format('woff'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/womenbushuozaijian.ttf') format('truetype')
}
@font-face {
	font-family: Y_hanyi_qihei35; 
	src: local('Y_hanyi_qihei35'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/Y_hanyi_qihei35.woff2') format('woff2'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/Y_hanyi_qihei35.woff') format('woff'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/Y_hanyi_qihei35.ttf') format('truetype')
}
@font-face {
	font-family: DreamFont_XiaoyuGB_Normal; 
	src: local('DreamFont_XiaoyuGB_Normal'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/DreamFont_XiaoyuGB_Normal.woff2') format('woff2'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/DreamFont_XiaoyuGB_Normal.woff') format('woff'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/DreamFont_XiaoyuGB_Normal.ttf') format('truetype')
}
@font-face {
	font-family: yiqimoyinti; 
	src: local('yiqimoyinti'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/yiqimoyinti.woff2') format('woff2'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/yiqimoyinti.woff') format('woff'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/yiqimoyinti.ttf') format('truetype')
}
@font-face {
	font-family: hanyi_qh95; 
	src: local('hanyi_qh95'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/hanyi_qh95.woff2') format('woff2'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/hanyi_qh95.woff') format('woff'),
		url('//font.eqh5.com/fonts/226763182_1612754675000/hanyi_qh95.ttf') format('truetype')
}
